@media(min-width: 1224px) {
    /* Styles pour cette Media Queries */
    body {
        display: grid;
        grid-template-rows: 15vh 80vh 5vh;


        &>header {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 43%, rgba(13, 232, 19, 1) 46%, rgba(255, 255, 255, 1) 50%, rgba(8, 238, 8, 1) 53%, rgba(0, 0, 0, 1) 56%);
            color: white;
            text-align: center;
            text-transform: uppercase;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            font-family: $titleFont;
            font-size: 1.6rem;
            font-weight: bold;
            padding-top: 2vh;
        }

        &>main {
            grid-row: 2/3;
            display: grid;
            grid-template-columns: 30vw 30vw 40vw;
            grid-column-gap: 3vw;
            padding: 3vw;
            background: url("https://cdnb.artstation.com/p/assets/images/images/012/137/523/large/tome-stefanovski-screenshot00003.jpg?1533220887");
            background-size: cover;

            #scene-name {
                grid-column: 1/2;
                background-color: #010c1b;
                font-size: 2rem;
                font-family: $titleFont;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $green;
                font-weight: bolder;
                border-radius: 10px;
                border: solid 1px $green;
            }

            #situation {
                grid-column: 2/3;
                background-color: #010c1b;
                font-family: $textFont;
                display: grid;
                align-items: center;
                font-size: 1.5rem;
                flex-direction: column;
                border-radius: 10px;
                border: solid 1px $green;
                color: $green;
                text-align: center;

            }

            #img {
                grid-column: 3/4;
                background-color: #010c1b;
                color: $green;
                border: solid 1px $green;
                border-radius: 10px;





            }


        }

        & > footer {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 43%, rgba(13, 232, 19, 1) 46%, rgba(255, 255, 255, 1) 50%, rgba(8, 238, 8, 1) 53%, rgba(0, 0, 0, 1) 56%);
            color: white;
            text-align: center;
            text-transform: uppercase;
            grid-row: 3/4;
            display: flex;
            justify-content: center;
            font-family: $titleFont;
            font-size: 1.1rem;
            font-weight: bold;
            padding-top: 2vh;
        }
    }
}
