/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

.sr-only {
  display: none;
}

@media (min-width: 980px) {
  body {
    display: grid;
    grid-template-rows: 15vh 80vh 5vh;
    background: url("https://cdnb.artstation.com/p/assets/images/images/012/137/523/large/tome-stefanovski-screenshot00003.jpg?1533220887");
    background-size: cover;
  }
  body > header {
    background: linear-gradient(0deg, rgba(130, 130, 152, 0.0592612045) 0%, rgba(23, 23, 64, 0.5718662465) 15%, rgba(0, 0, 0, 0.7259278711) 30%, rgb(0, 0, 0) 43%, rgb(13, 232, 19) 47%, rgb(255, 255, 255) 50%, rgb(8, 238, 8) 53%, rgb(0, 0, 0) 56%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 2vh;
  }
  body > main {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-column-gap: 2vw;
    padding: 3vw;
  }
  body > main #scene-name {
    grid-column: 1/2;
    background-color: #010c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #83f386;
    font-weight: bolder;
    border-radius: 10px;
    border: solid 1px #83f386;
    padding: 0 2vw;
    text-align: center;
  }
  body > main #scene-name h2 {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    padding: 5vh 0;
    margin-bottom: 5vh;
  }
  body > main #scene-name p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-family: "Roboto Mono", monospace;
  }
  body > main #scene-options {
    grid-column: 2/3;
    background-color: #010c1b;
    font-family: "Roboto Mono", monospace;
    display: grid;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px #83f386;
    color: #83f386;
    text-align: center;
    padding: 1vw;
    line-height: 2rem;
  }
  body > main #scene-options fieldset {
    margin: 2vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body > main #scene-options fieldset input[type=radio] {
    font: inherit;
    color: #83f386;
    width: 1.15em;
    height: 1.15em;
    border: 0.2em solid #143601;
    border-radius: 50%;
    appearance: none;
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 1vh;
  }
  body > main #scene-options fieldset input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #83f386;
  }
  body > main #scene-options fieldset input[type=radio]:checked::before {
    transform: scale(1);
  }
  body > main #scene-options #subBtn {
    width: 15vw;
    height: 7vh;
    margin-top: 5vh;
    border-right: 5px solid #83f386;
    border-left: 1px solid #83f386;
    border-top: 1px solid #83f386;
    border-bottom: 5px solid #143601;
    background-color: #0fde0f;
    font-size: 1.2rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }
  body > main #scene-options #subBtn:hover {
    width: 16vw;
    height: 8vh;
    color: #143601;
    margin-top: 4vh;
  }
  body > main #img {
    grid-column: 3/4;
    background-color: #010c1b;
    color: #83f386;
    border: solid 1px #83f386;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 100%;
  }
  body > main #img figure {
    width: 100%;
    height: 100%;
  }
  body > main #img figure img {
    width: 100%;
    height: 100%;
    aspect-radio: 1/1;
    border-radius: 10px;
  }
  body > footer {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    text-transform: uppercase;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 2vh;
  }
}

@media (max-width: 979px) {
  body {
    display: grid;
    grid-template-rows: 15vh 350vh 5vh;
    background: url("https://cdnb.artstation.com/p/assets/images/images/012/137/523/large/tome-stefanovski-screenshot00003.jpg?1533220887");
    background-size: cover;
  }
  body > header {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(130, 130, 152, 0.0592612045) 0%, rgba(23, 23, 64, 0.5718662465) 15%, rgba(0, 0, 0, 0.7259278711) 30%, rgb(0, 0, 0) 43%, rgb(13, 232, 19) 47%, rgb(255, 255, 255) 50%, rgb(8, 238, 8) 53%, rgb(0, 0, 0) 56%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 2vh;
  }
  body > main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 130vh 50vh 80vh;
    grid-row-gap: 2vw;
    padding: 3vw;
  }
  body > main #scene-name {
    grid-row: 1/2;
    background-color: #010c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #83f386;
    font-weight: bolder;
    border-radius: 10px;
    border: solid 1px #83f386;
    padding: 2vw;
    text-align: center;
    padding-bottom: 3vh;
  }
  body > main #scene-name h2 {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    padding-top: 2vh;
    margin-bottom: 5vh;
  }
  body > main #scene-name p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-family: "Roboto Mono", monospace;
  }
  body > main #scene-options {
    grid-row: 3/4;
    background-color: #010c1b;
    font-family: "Roboto Mono", monospace;
    display: grid;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px #83f386;
    color: #83f386;
    text-align: center;
    padding: 1vw;
    line-height: 2rem;
  }
  body > main #scene-options fieldset {
    margin: 2vh 2vw 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body > main #scene-options fieldset input[type=radio] {
    font: inherit;
    color: #83f386;
    width: 1.15em;
    height: 1.15em;
    border: 0.2em solid #143601;
    border-radius: 50%;
    appearance: none;
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 1vh;
  }
  body > main #scene-options fieldset input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #83f386;
  }
  body > main #scene-options fieldset input[type=radio]:checked::before {
    transform: scale(1);
  }
  body > main #scene-options #subBtn {
    width: 60vw;
    height: 7vh;
    margin-top: 2vh;
    border-right: 5px solid #83f386;
    border-left: 1px solid #83f386;
    border-top: 1px solid #83f386;
    border-bottom: 5px solid #143601;
    background-color: #0fde0f;
    font-size: 1.2rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }
  body > main #img {
    grid-row: 2/3;
    background-color: #010c1b;
    color: #83f386;
    border: solid 1px #83f386;
    border-radius: 10px;
  }
  body > main #img figure {
    width: 100%;
    height: 100%;
  }
  body > main #img figure img {
    width: 100%;
    height: 100%;
  }
  body > footer {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    text-transform: uppercase;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 2vh;
  }
}

/*# sourceMappingURL=style.css.map */
